.heading{
    padding: 28px;
background-image: url(/images/heading.jpg);
    width:97%;
    
    
}

.ulheading{
    display: flex;
    list-style-type: none;
    min-width: 1000px;
}

.liheading{
    color: rgb(0, 0, 0);
    padding: 5px ;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color:rgb(196,76,76);
   border-radius: 100px;
   border: solid rgb(219, 223, 21);
}

 p{
   color: white;
}

li a:hover{
 padding: 9px;
 background-color: rgb(9, 183, 214);
}

*{
    margin: auto 0;
 
}

html{
  
background-image: url(/images/Background\ color.jpg);
background-attachment: fixed;

}

.menu1{
    width: 500;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
 color: rgb(10, 6, 6);
 padding: 12px;
 color: rgb(0, 0, 0);
 background-color:rgb(196,76,76);
 border: solid rgb(219, 253, 69);
}

.menu11{
    font-weight:600;
    text-size-adjust: 48px;
    font-size: 50px;
    word-spacing: 5;
}

.headerpics{
    width: 300px;
    height: 250px;
}

.logoo{
width: 300px;
height: 300px;
}

.header-meals{
    max-width: 100%;
    transform: scale(0.9);
    transition: transform 0.5s;
    
}

.header-meals:hover{
    transform: scale(1);
    opacity: 1;
    }


    /* //////////////////////////////////////////////////////////////////////////////// */

  
.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: rgb(245, 245, 245);
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(247, 243, 243);
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
    width: 350px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: rgb(250, 246, 246);
    
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0);
    width: fit-content;
    font-size: 30px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    margin-right: 20px;
}

.cart-total-price {
    color: rgb(255, 255, 255);
    font-size: 1.1em;
}

.btn-purchaso {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}


.foodfact{
    width: 350px;
}

.row{
    max-width: 1140px;
   margin:0 auto;
}  

label{
   background-color: #eee;
   border: solid black;
}

input{
    height: 20px;
}

.payment1{
    width: 100px;
    height: 60px;
}

.borstyle{
    border:rgb(208, 224, 64) solid 5px;
    border-style: dashed;
    
}

